@font-face {
  font-family: 'iranyekan';
  src: url(assets/font/iranyekan/Qs_Iranyekan.ttf);
}

body {
  direction: rtl;
  background-color: gray;
  font-family: iranyekan;

}

#table {
  border-collapse: collapse;
  width: 100%;
}

#table td,
#table th {
  border: 1px solid #ddd;
  text-align: center !important;
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table tr:nth-child(odd) {
  background-color: #dedddd;
}

/* #table tr:hover {
  background-color: #f0f0f0;
} */

#table td {
  text-align: center !important;
}

#table th {
  text-align: left;
  background-color: #04AA6D;
  color: white;
}